<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseline.system.mapper.SysPostMapper">


    <select id="page" resultType="com.baseline.system.vo.SysPostVO">
        select `id`, `code`, `name`, `sort_no`, `status`, `create_time`, `update_time`, `remark`
        from sys_post
        <where>
            <if test="dto.name!='' and dto.name!=null">
                name like concat("%",#{dto.name},"%")
            </if>
            <if test="dto.code!='' and dto.code!=null">
                and code=#{dto.code}
            </if>
            <if test="dto.status!=null">
                and status=#{dto.status}
            </if>
            and deleted=0
        </where>
        order by sort_no asc
    </select>


    <select id="getSimpleList" resultType="com.baseline.system.vo.SysPostOptionVO">
        select `id`, `name`
        from sys_post
        <where>
            and deleted=0
        </where>
        order by sort_no asc
    </select>
</mapper>
